<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>
<body>
<!-- NAVIGATION -->
<div id="navigation" th:fragment="navigation">

		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav show-on-click">
					<span class="category-header">панель управления<i class="fa fa-list"></i></span>
					<ul class="category-list">

						<li><a href="">Просмотреть все заказы</a></li>


						<li><a href="">Просмотреть все мои товары</a></li>
						<li><a href="logout.html">Выход из системы</a></li>
					</ul>
				</div>
				<!-- /category nav -->


			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->



</body>
</html>