/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
Будет удалено src/main/java/com/denlex/superoptimum/controller/
Будет удалено src/main/java/com/denlex/superoptimum/service/
Будет удалено src/main/resources/static/
