<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>OPTIMUM BEAUTY</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
	<link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css"
		  th:href="@{/css/nouislider.min.css}"/>

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}"/>
	<link type="text/css" rel="stylesheet" href="../static/css/checkout_style.css"
		  th:href="@{/css/checkout_style.css}"/>

	<!--table resp-->
	<link rel="stylesheet" href="../static/css/rwd-table.min.css?v=5.3.1"  th:href="@{/css/rwd-table.min.css?v=5.3.1}">
	<link rel="stylesheet" href="../static/css/docs.min.css?v=5.3.1"  th:href="@{/css/docs.min.css?v=5.3.1}">

	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19870163-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
	</script>
</head>

<body>

<header th:insert="customer/header.html :: header">
</header>

<div th:insert="customer/navigation.html :: navigation"></div>

<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container" style="min-height: 700px;">
		<!-- home wrap -->
		<div class="home-wrap" id="result">
			<div class="banner banner-1">
				<div class="table-responsive" data-pattern='priority-columns'>
					<table cellspacing='0' id='group-test' class='table table-small-font table-bordered table-striped'>
						<thead>
						<tr>

							<th colspan="1" data-priority="1" style="text-align: center;">Дистрибьютор</th>

							<th colspan="1"  data-priority="2" style="text-align: center;">Найменование</th>
							<th colspan="1"  data-priority="3" style="text-align: center;">Производитель/<br>Страна
								производства
							</th>
							<th colspan="1"  data-priority="4" style="text-align: center;">Цена</th>
							<th colspan="1"  data-priority="5" style="text-align: center;">Годен до</th>
							<th colspan="1"  data-priority="6" style="text-align: center;">Остаток</th>
							<th colspan="1"  data-priority="7" style="text-align: center;">Примечание</th>
						</tr>


						<h2>'нет продукта'</h2>

						<tr>
							<td data-priority='1' style='background: white; color: #400040;'></td>
							<td data-priority='2' style='background: white; color: #400040; width: 400px;'><a
									href=''></a></td>
							<td data-priority='3' style='background: white; color: #400040;'></td>
							<td data-priority='4' style='background: white; color: #400040;'></td>

							<td data-priority='5' style='background: white; color: #400040;'></td>
							<td data-priority='6' style='background: white; color: #400040;'></td>
							<td data-priority='7' style='background: white; color: #400040;'></td>

						</tr>


						</thead>
					</table>
				</div>
				<div>

				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->

		</div>
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->


<div th:insert="customer/footer.html :: footer"></div>

<!-- jQuery Plugins -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/slick.min.js" th:src="@{/js/slick.min.js}"></script>
<script src="../static/js/nouislider.min.js" th:src="@{/js/nouislider.min.js}"></script>
<script src="../static/js/jquery.zoom.min.js" th:src="@{/js/jquery.zoom.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/js/checkout.js" th:src="@{/js/checkout.js}"></script>
<script src="../static/js/rwd-table.js?v=5.3.1"></script>
<script>
    $(function () {
        $('#bs-deps').on('hide.bs.collapse show.bs.collapse', function () {
            $('#bs-deps-toggle').children('span').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
        })
    });
</script>

</body>
</html>


