<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>OPTIMUM BEAUTY</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
	<link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css"
		  th:href="@{/css/nouislider.min.css}"/>

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}"/>
	<link type="text/css" rel="stylesheet" href="../static/css/checkout_style.css"
		  th:href="@{/css/checkout_style.css}"/>

	<!--table resp-->
	<link rel="stylesheet" href="../static/css/rwd-table.min.css?v=5.3.1"  th:href="@{/css/rwd-table.min.css?v=5.3.1}">
	<link rel="stylesheet" href="../static/css/docs.min.css?v=5.3.1"  th:href="@{/css/docs.min.css?v=5.3.1}">

	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19870163-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
	</script>
</head>


<body>
	<!-- HEADER -->
	
	

       
       <header>
		<!-- top Header -->
		<div id="top-header">
			<div class="container">
				<div class="pull-left">
					
					
				</div>
				<div class="pull-right">
					<ul class="header-top-links">
                    
                </ul>
				</div>
			</div>
		</div>
		<!-- /top Header -->

		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="index_distributor.html">
							<img src="../static/img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->

					
					
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase"> Личный кабинет <i class="fa fa-caret-down"></i></strong>
							</div>
							
							
							<ul class="custom-menu">
								<li><a href="my_account_distributor.html"><i class="fa fa-user-o"></i> Личный кабинет</a></li>
								
								<li><a href="index.html"><i class="fa fa-unlock-alt"></i> Выити</a></li>
								
							</ul>
						</li>
						<!-- /Account -->

						

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
			
		</div>
		<!-- container -->
	</header>

	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav show-on-click">
					<span class="category-header">Личный кабинет <i class="fa fa-list"></i></span>
					<ul class="category-list">
						


						<li><a href="">Orders</a></li>
						<li><a href="">My Information</a></li>
						<li><a href="">View Clients</a></li>

						
					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
					
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="index_distributor.html">Главная</a></li>
				<li class="active">Личный кабинет</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section -->
	<div class="section">
		
		
		<h2 style="text-align: center;">Добро пожаловать : </h2>
		<p style="text-align: center;">Вы можете видеть ход выполнения заказов, нажав   <a href=""><b>ЗДЕСЬ</b></a></p>
		
		
	</div>
	<!-- /section -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<div th:insert="customer/footer.html :: footer"></div>

	<!-- jQuery Plugins -->
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/slick.min.js" th:src="@{/js/slick.min.js}"></script>
	<script src="../static/js/nouislider.min.js" th:src="@{/js/nouislider.min.js}"></script>
	<script src="../static/js/jquery.zoom.min.js" th:src="@{/js/jquery.zoom.min.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
	<script src="../static/js/checkout.js" th:src="@{/js/checkout.js}"></script>
	<script src="../static/js/rwd-table.js?v=5.3.1"></script>
	<script>
        $(function () {
            $('#bs-deps').on('hide.bs.collapse show.bs.collapse', function () {
                $('#bs-deps-toggle').children('span').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            })
        });
	</script>

</body>
</html>


