<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Distributor Login</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" type="text/css" href="../../static/css/style_login.css" th:href="@{/css/style_login.css}"
		  media="all">
</head>
<body>
<div class="login">
	<h2 style="color: white; text-align: center;"></h2>
	<h2 style="color: white; text-align: center;"></h2>
	<h1>Вход</h1>
	<div th:if="${param.error}">
		Неверное имя или пароль
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>

	<br>
	<form method="post" th:action="@{/customer/login}">
		<input type="text" name="username" placeholder="логин..." required="required" autofocus="autofocus"/>
		<input type="password" name="password" placeholder="пароль..." required="required"/>
		<input type="submit" value="Вход" class="btn btn-primary btn-block btn-large"/>
	</form>
</div>
</body>
</html>
